@page "/items"

@using shopping_cart_demo_client.Data
@inject ItemService itemService

@code {
    IList<Item> items = new List<Item>();

    protected override async Task OnInitializedAsync()
    {
        items = await itemService.GetAllEmployeesAsync();
    }
}

@foreach (var item in items)
{
    <h4> Id : @item.Id</h4>
    <h4> ItemCode : @item.ItemCode</h4>
    <h4> Description :  @item.Description</h4>
    <h4> UnitPrice : @item.UnitPrice</h4>

    @if(item.PackageDetails != null){
        <h4>Height : @item.PackageDetails.Height</h4>
        <h4>Width :@item.PackageDetails.Width</h4>
        <h4>Weight :@item.PackageDetails.Weight</h4>
    }
}
